[submodule "modules/g79client"]
	path = modules/g79client
	url = https://github.com/UCKETX/g79client.git
	branch = main
[submodule "modules/unmcpk"]
	path = modules/unmcpk
	url = https://github.com/UCKETX/unmcpk.git
	branch = main
